
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);

body {
    background-color:#7286D3;
    front-family: Veranda, Geneva, Tahoma, sans-serif;
}
h1, h2 {
    font-family: "Josefin Sans", monospace, sans-serif;
color: #fff;
}

#first-p {
    color: #ff78f0;
}
.large-fonts {
    color: #b08bbb;
}
p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;

}

.section-1 {
    background-color: cornflowerblue;
    padding: 10px;
}

.section-2 {
    background-color: ;
    padding: 10px;
}

.special-one {

}